body {
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 60px;
}
.container .well .form-horizontal fieldset .pull-right button.btn.btn-primary {
  margin-right: 10px;
}
.form-group .alert.alert-danger {
  margin-bottom: 0;
  padding: 5px;
}
footer {
  padding: 0 150px;
}
footer p {
  border-top: 1px solid #444;
  padding-top: 10px;
}
