.container
    .jumbotron
        h1 Resources Overview
    .divider
    .row
        .panel.panel-primary.col-md-4.col-md-offset-1
            .panel-heading.lead Minerals
            .panel-body
                .row
                    .col-md-4 Ammout
                    .col-md-8 {{ gameObjects.minerals }}
                .row
                    .col-md-4 Mine speed
                    .col-md-8 {{ buildingsModel.gasFactory.amount[gameObjects.buildings[0]] }} / min
        .panel.panel-primary.col-md-4.col-md-offset-1
            .panel-heading.lead Gas
            .panel-body
                .row
                    .col-md-4 Ammout
                    .col-md-8 {{ gameObjects.gas }}
                .row
                    .col-md-4 Mine speed
                    .col-md-8 {{ buildingsModel.gasFactory.amount[gameObjects.buildings[1]] }} / min
    .divider
    .row
        .panel.panel-primary.col-md-4.col-md-offset-1
            .panel-heading.lead Energy
            .panel-body
                .row
                    .col-md-4 Ammout
                    .col-md-8 {{ buildingsModel.solarPanels.amount[gameObjects.buildings[2]] }}
        .panel.panel-primary.col-md-4.col-md-offset-1
            .panel-heading.lead Supply
            .panel-body
                .row
                    .col-md-4 Ammout
                    .col-md-8 {{ buildingsModel.supply.amount[gameObjects.buildings[3]] }}