.container
    include ../common/resourcesOverview


    .alert.alert-danger.minHeight100(ng-repeat="defence in gameObjects.defences")
        strong.lead Incoming attack from
        span.text-danger ___
        a.alert-link.lead(href='#') {{ defence.source }}
        span.text-danger ___
        strong.lead(timer end-time="defence.time") in {{ hours }} hours , {{ minutes }} minutes , {{ seconds }} seconds
        img.pull-right(src="" ng-src="{{ raceModel.troopsImage }}" alt="image" height=70)
        .progress.progress-striped.active
            .progress-bar(style="width: {{ 100 * ((now - defence.created)/(defence.time - defence.created)) }}%")

    .alert.alert-warning.minHeight100(ng-repeat="attack in gameObjects.attacks")
        strong.lead You will attack in
        strong.lead(timer end-time="attack.time")  {{ hours }} hours , {{ minutes }} minutes , {{ seconds }} seconds
        img.pull-right(src="" ng-src="{{ raceModel.shipsImage }}" alt="image" height=70)
        .progress.progress-striped.active
            .progress-bar(style="width: {{ 100 * ((now - attack.created)/(attack.time - attack.created)) }}%")

    .alert.alert-success.minHeight100(ng-repeat="comeback in gameObjects.comebacks")
        strong.lead Ships returning with {{ comeback.cargo[0] }} minerals and {{ comeback.cargo[1] }} gas in
        strong.lead(timer end-time="comeback.time")  {{ hours }} hours , {{ minutes }} minutes , {{ seconds }} seconds
        img.pull-right(src="" ng-src="{{ raceModel.shipsImage }}" alt="image" height=70)
        .progress.progress-striped.active
            .progress-bar(style="width: {{ 100 * ((now - comeback.created)/(comeback.time - comeback.created))}}%")

    .alert.alert-info.minHeight100(ng-repeat="task in gameObjects.tasks")
        strong.lead.text-capitalize {{ raceModel[task.type][task.indexToAddTo].name }}
        span.lead  will complete in
        strong.lead(timer end-time="task.time")  {{ hours }} hours , {{ minutes }} minutes , {{ seconds }} seconds
        img.pull-right(src="" ng-src="{{ raceModel[task.type][task.indexToAddTo].image }}" alt="{{ raceModel[task.type][task.indexToAddTo].alt }}" height=70)
        .progress.progress-striped.active
            .progress-bar(style="width: {{ 100 * ((now - task.created)/(task.time - task.created)) }}%")
