extends includes/layout

block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") NovCraft
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Home
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)

    footer
        p.text-center
            | &copy NovCraft MEAN Application 2014
