.container
    .row
        .col-md-2.text-primary.lead.text-right.col-md-offset-8 Search
        .col-md-2
            input.form-control.small(ng-model="search", type="text", placeholder="Search courses")
    .row
        .col-md-2.text-primary.lead.text-right.col-md-offset-8 Order By
        .col-md-2
            select.form-control(ng-model="sort", ng-options="item.value as item.text for item in sortOptions")
    table.table.table-responsive.table-hover
        thead
            tr
                th Name
                th Published
        tbody
            tr(ng-repeat="course in courses | filter: search | orderBy: sort")
                td
                    a(href="#/courses/{{ course._id }}") {{ course.name }}
                td {{ course.date | date }}