.container
    .jumbotron
        h1 Nov Craft
        h2 MEAN App
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center
                    | Featured
                .panel-body(ng-include="'partials/main/featured-courses'")
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center
                    | New
                .panel-body(ng-include="'partials/main/new-courses'")
